<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Gelukt!</p>
        <button class="delete" aria-label="close" (click)='toggleModal()'></button>
    </header>
    <section class="modal-card-body">
        <!-- Content ... -->
        <p class="content">Uw bericht werd verzonden.</p>
    </section>
    <footer class="modal-card-foot">
        <button class="button is-warning" (click)='toggleModal()'>Sluiten</button>
    </footer>
    </div>
</div>