<p class='content has-text-danger'>Wij verzoeken u 15 minuten voor de afvaart aanwezig te zijn. U dient voor een tocht te reserveren.</p>
<!-- Table -->
<table class='table is-striped is-hoverable is-fullwidth'>
    <tr>
        <th>Maand</th>
        <th>Afvaart</th>
    </tr>
    <tr>
        <th>Augustus</th>
        <th><mat-icon>access_time</mat-icon></th>
    </tr>
    <tr>
        <td>Woensdag 12 Augustus</td>
        <td>13:15 uur</td>
    </tr>
    <tr>
        <td>Donderdag 13 Augustus</td>
        <td>13:15 uur</td>
    </tr>
    <tr>
        <th>September</th>
        <th></th>
    </tr>
    <tr>
        <td>Zaterdag 5 september</td>
        <td>13:15 uur</td>
    </tr>
    <tr>
        <td>Zondag 6 september</td>
        <td>13:15 uur</td>
    </tr>    
    <tr>
        <td>Maandag 7 september</td>
        <td>13:15 uur</td>
    </tr>
</table>