a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
 
a:hover, a:active{
    color: gray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pad {
    position: relative;
    margin-left: 15px;
    bottom: 3px;
    color: black;
  }

  .navbar-brand-logo{
    width:30px;
    height:30px;
    text-align: center ;
  }

  .custom-toolbar {
      position: fixed;
      z-index:2;
  }