<section class="hero is-dark is-fullwidth">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        Reserveringen
      </h1>
      <h2 class="subtitle">
        Bekijk hier je actuele reserveringen.
      </h2>
    </div>
  </div>
</section>

<div class="dropped-table-padding">
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort class='table is-striped is-hoverable'>
  
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class='big-font'> Soort <mat-icon class="logo-align">directions_boat</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
      <!-- Adult Column -->
      <ng-container matColumnDef="adult">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class='big-font'> Volw. <mat-icon class="logo-align">supervised_user_circle</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element.adult}} </td>
      </ng-container>
  
      <!-- Child Column -->
      <ng-container matColumnDef="child">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class='big-font'> Kind  <mat-icon class='logo-align'>child_care</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element.child}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class='big-font'> Datum <mat-icon class='logo-align'>calendar_today</mat-icon></th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
    </table>
  </div>
</div>  
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>