<p class="subtitle">
  <img src="../../../assets/logos/euro_icon_dotted.png" class="logo-style"><strong> Prijzen</strong>
</p>
<div class="dropped-table-padding">
    <div class="table-container">
      <table mat-table [dataSource]="priceSource" class='table is-striped is-hoverable'>
    
        <!-- Type Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef style="padding-left: 24px;"> Mps. Onderneming </th>
          <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Prijs </th>
          <td mat-cell *matCellDef="let element">€ {{element.price}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>  