<div class="contact_maps_location">    
    <p class="subtitle">
        <mat-icon>euro_symbol</mat-icon><strong> Prijzen</strong>
    </p>
    <table class="table is-fullwidth">
        <tr>
            <th>Mps. ONDERNEMING</th>
            <th>Prijs €</th>
        </tr>
        <tr>
            <td>Basistarief 1é vaaruur</td>
            <td>€ {{ firstHour }},-</td>
        </tr>
        <tr>
            <td>Extra volguren</td>
            <td>€ {{ additionalHour }},-</td>
        </tr>
    </table>
</div>