<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Zeehondensafari's 2020
        </h1>
        <h2 class="subtitle">
            
        </h2>
      </div>
    </div>
</section>
<div class='container'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-12">
      <div class="tile is-parent">
        <article class="tile is-child notification is-light">
          <p class="title">Informatie</p>
          <p class="content">We varen langs de platen zodat we de zonnende zeehonden kunnen bekijken. Deze kunnen we bij laag water op 50 meter afstand zien.</p>
            <p class="subtitle">
              <strong> Prijzen</strong>
            </p>
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
              <tr>
                <th>Zeehondensafari</th>
                <th>Prijs</th>
              </tr>
              <tr>
                <td><mat-icon>person</mat-icon> Volwassenen</td>
                <td>€ {{ adultPrice | number : '1.2-2' }} p.p.</td>
              </tr>
              <tr>
                <td><mat-icon>child_care</mat-icon> Kinderen (3 t/m 11 jaar)</td>
                <td>€ {{ childPrice | number : '1.2-2' }} p.p.</td>
              </tr>
            </table>
            <p class="subtitle">
              <mat-icon>directions_boat</mat-icon><strong> Opstaplocatie</strong>
            </p>
            <div class="content">
              Voorhaven <br>
              4417 DS Hansweert <br>
              Zuidelijke Voorhaven 500 meter na de sluizen aan de kant van Hansweert. <br>
            </div>
            <p class="subtitle">
              <mat-icon>gps_fixed</mat-icon><strong> GPS</strong>
            </p>
            <div class="subtitle">
              °26'53.5"N 4°00'36.8"E
            </div>
            <!-- 	Google maps iFrame Hansweert -->
            <div class="subtitle">
              <mat-icon>place</mat-icon><strong> Kaart</strong>
            </div>
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="1280" height="720" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d621.6355750845335!2d4.009672829260125!3d51.44819899872662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI2JzUzLjUiTiA0wrAwMCczNi44IkU!5e0!3m2!1snl!2snl!4v1597530556032!5m2!1snl!2snl" frameborder="0" allowfullscreen></iframe>
                </figure>
              </div>                        
            </div>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-light">
          <p class="title">Beschikbare zeehondensafari's</p>
          <div class='image'>
            <img src='assets/images/zeehonden.jpg'>
          </div>
          <p class="content">Bij voldoende belangstelling varen we af om 13:15. U dient voor een tocht te reserveren.</p>
          <table class='table is-fullwidth'>
              <tr>
                  <th>Maand</th>
                  <th>Afvaart</th>
              </tr>
              <tr>
                  <th>Augustus</th>
                  <th></th>
              </tr>
              <tr>
                  <td>Woensdag 12 Augustus</td>
                  <td>13:15 uur</td>
              </tr>
              <tr>
                  <td>Donderdag 13 Augustus</td>
                  <td>13:15 uur</td>
              </tr>
              <tr>
                  <th>September</th>
                  <th></th>
              </tr>
              <tr>
                  <td>Zaterdag 5 september</td>
                  <td>13:15 uur</td>
              </tr>
              <tr>
                  <td>Zondag 6 september</td>
                  <td>13:15 uur</td>
              </tr>    
              <tr>
                  <td>Maandag 7 september</td>
                  <td>13:15 uur</td>
              </tr>
              <tr>
                  <td>Woensdag 9 september</td>
                  <td>13:15 uur</td>
              </tr>
              <tr>
                  <td>Vrijdag 11 september</td>
                  <td>13:15 uur</td>
              </tr>    
              <tr>
                  <td>Zondag 20 september</td>
                  <td>13:15 uur</td>
              </tr>   
              <tr>
                  <td>Maandag 21 september</td>
                  <td>13:15 uur</td>
              </tr>    
              <tr>
                  <td>Woensdag 23 september</td>
                  <td>13:15 uur</td>
              </tr>                                                                              
            </table>      
          <div>
            <button class="button is-warning is-pulled-right" routerLink='/reserveren'>Reserveren</button>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
