<div class="container section">
  <p class="title">Reserveren zeehondensafari</p>
  <form [formGroup]="reserverenForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="legacy">
      <mat-label>Naam</mat-label>
      <input matInput formControlName="naam">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Adres</mat-label>
      <input matInput formControlName="adres">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Postcode</mat-label>
      <input matInput formControlName="postcode">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Woonplaats</mat-label>
      <input matInput formControlName="woonplaats">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Telefoonnummer</mat-label>
      <input matInput formControlName="telnr">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Emailadres</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Datum</mat-label>
      <input 
        matInput 
        [matDatepicker]="picker" 
        [min]="minDate" 
        [max]="maxDate" 
        [matDatepickerFilter]="filter"
        (dateChange)="onDateChange($event)" 
        formControlName="datum">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="selectedDate">
      <mat-form-field appearance="legacy">
        <mat-label>Aantal personen</mat-label>
        <mat-select matInput formControlName="pax">
          <mat-option *ngFor="let item of options; let i = index;" [value]="i+1">{{i+1}}</mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        Afvaart om: {{ selectedDate.afvaart }} <br>
        Aantal plaatsen beschikbaar: {{ selectedDate.pax }}
      </p>
      <br>
    </div>
    <div>
      <button type="submit" class='button is-warning'>Verzenden</button>
    </div>
  </form>
  </div>

