<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Rondvaarten
        </h1>
        <h2 class="content">
            Wij heten u graag welkom aan boord van de Onderneming. Wij leveren rondvaarten op maat. Neem vrijblijvend contact op om uw wensen te bespreken. Tijdens de zomermaanden juli en augustus kunt u natuurlijk ook gebruik maken van de veerdienst Perkpolder - Hansweert. 
        </h2>
      </div>
    </div>
</section>
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-12">
            <div class="tile">
                <!-- Rondvaarten -->
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <article class="tile is-child notification is-light box">
                        <p class="subtitle">
                            <mat-icon>directions_boat</mat-icon><strong> Rondvaarten</strong>
                        </p>
                        <p class="content">
                            Onze boot is uitermate geschikt om rondvaarten te boeken. u kunt tijdens de vaart ruim op alle dekken kunt vertoeven.
                            Ook kunt u zittend in de salon gezellig naar buiten kijken onder het genoeg van een hapje of een drankje. 
                            Het behoeft dan ook geen uitleg dat groepen steeds weer kiezen voor "de-ATOL "
                        </p>
                        <p class="content">
                            Natuurlijk kunt u van al onze faciliteiten op onze luxe boot gebruik maken, zoals de bar en keuken en natuurlijk ook het luxe sanitair.
                            Op onze MENUKAART kunt U zien wat onze keuken en catering voor mogelijkheden kunnen bieden.
                        </p>
                        <p class="subtitle">
                            <mat-icon>access_time</mat-icon><strong> Prijzen</strong>
                        </p>
                        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
                            <tr>
                                <th>Mps. ONDERNEMING</th>
                                <th>Prijs €</th>
                            </tr>
                            <tr>
                                <td>Basistarief 1é vaaruur</td>
                                <td>€ {{ firstHour }},-</td>
                            </tr>
                            <tr>
                                <td>Extra volguren</td>
                                <td>€ {{ additionalHour }},-</td>
                            </tr>
                        </table>
                    </article> 
                </div>   
            </div>
            <!-- 	Moonlight sailing -->
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <article class="tile is-child notification is-light box">
                        <p class="subtitle">
                            <mat-icon>nights_stay</mat-icon><strong> Moonlightsailing</strong>
                        </p>
                        <p class="content">
                            In de zomeravonden in de maanden Juni, Juli, Augustus en September zomaar een gezellig avondje op het water?
                            Het is allemaal mogelijk. 
                        </p>
                        <p class="content">
                            Gezellig met vrienden, kennissen of collega's.
                            Varen en feesten met bijvoorbeeld warm-koud buffet, gezellige muziek buiten op het grote dek.
                        </p>       
                        <p class='content'>
                            Afvaart 20.00 uur - Thuiskomst 24.00 uur
                        </p>             
                    </article> 
                </div>   
            </div>
        </div>
    </div>