<section class="hero">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Rondvaarten
            </h1>
            <h2 class="content">
                Zomaar genieten van de omgeving of een speciaal arrangement? Wij leveren rondvaarten op maat. Neem vrijblijvend contact op om uw wensen te bespreken.
            </h2>
        </div>
    </div>
</section>

<!-- Rondvaarten -->
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-12">
            <div class="tile is-parent">
                <article class="tile is-child notification is-light box padding">
                <p class="title">
                    <mat-icon>directions_boat</mat-icon><strong> Rondvaarten</strong>
                </p>
                <figure class='image contact_maps_location'>
                    <img src='assets/images/ligplaats_hansweert.jpg'>
                </figure>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Informatie</strong>
                </p>
                <p class="content">
                    De-Atol is hét rondvaartbedrijf dat opereert in Zeeuws-Vlaanderen. Wij verzorgen al meer dan een halve eeuw rondvaarten, bedrijfsevenementen, excursies en dagtochten op bijvoorbeeld de Ooster- of Westerschelde.
                </p>
                <p class="subtitle">
                    <mat-icon>thumb_up</mat-icon><strong> Wat u kunt verwachten</strong>
                </p>
                <p class="content">
                    U kunt tijdens de vaart van al onze faciliteiten gebruik maken, zoals de bar en keuken en natuurlijk ook het sanitair. U kunt ruim op alle dekken kunt vertoeven. Ook kunt u zittend in de salon gezellig naar buiten kijken onder het genoeg van een hapje of een drankje.                 
                </p>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Praktische isnformatie</strong>
                </p>
                <p class="content">
                    • We vragen u om minimaal 15 minuten van te voren aanwezig te zijn. Zo voorkomt u dat de boot zonder u vertrekt.<br>
                    • Tijdens de zomermaanden juli en augustus kunt u natuurlijk ook gebruik maken van de veerdienst Perkpolder - Hansweert. 
                <p class="subtitle">
                    <mat-icon>euro_symbol</mat-icon><strong> Prijzen</strong>
                </p>
                <table class="table is-fullwidth">
                    <tr>
                        <th>Mps. ONDERNEMING</th>
                        <th>Prijs €</th>
                    </tr>
                    <tr>
                        <td>Basistarief 1é vaaruur</td>
                        <td>€ {{ firstHour }},-</td>
                    </tr>
                    <tr>
                        <td>Extra volguren</td>
                        <td>€ {{ additionalHour }},-</td>
                    </tr>
                </table>
                <br><br>
                <div class="buttons is-right button-on-bottom">
                    <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                </div> 
                </article>
            </div>

            <!-- Moonlightsailing -->
            <div class="tile is-parent">
                <article class="tile is-child notification is-light box padding">
                <p class="title">
                    <mat-icon>nights_stay</mat-icon><strong> Moonlightsailing</strong>
                </p>
                <figure class='image contact_maps_location'>
                    <img src='assets/images/moonlight_sailing.jpg'>
                </figure>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Informatie</strong>
                </p>
                <p class="content">
                    Boek een exclusieve tocht op onze comfortabele boot onder het maanlicht. Geniet van de koele zeebries, de sterren, de stadslichten en de maan terwijl je op het water drijft.
                </p>
                <p class="subtitle">
                    <mat-icon>thumb_up</mat-icon><strong> Wat u kunt verwachten</strong>
                </p>
                <p class="content">
                    In de zomeravonden in de maanden Juni, Juli, Augustus en September rond de dagen waarop het volle maan wordt, is rondvaartbedrijf De-Atol voor u geopend om een unieke ervaring mee te maken onder de maan.
                </p>
                <p class="content">
                    Onze tocht van 4 uur is dé perfecte manier om 's nachts elke gelegenheid te vieren. Ontspan op het dek en geniet van de weerspiegeling van de lichtgevende skyline van Antwerpen met de maan achter de stad. 
                </p>
                <p class="content">
                    Laat het vaste land achterwege voor een intieme ervaring met rondvaartbedrijf De Atol. Boek nu om een ​​plek te reserveren!
                </p>
                <p class='content'>
                    Graag maken wij een afspraak zodat we u een tocht op maat aan kunnen bieden. Wij kunnen zorg dragen voor o.a. catering en entertainment. Laat u verrassen door de creatieve invulling van rondvaartbedrijf De-Atol!
                </p>       
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Praktische informatie</strong>
                </p>
                <p class="content">
                    Afvaart 20.00 uur - Thuiskomst 24.00 uur
                </p> 
                <br>
                <div class="buttons is-right button-on-bottom">
                    <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                    <!-- <input type='submit' class="button is-warning button-on-bottom" value='Meer info'routerLink='/contact'> -->
                </div>
                </article>
            </div>
        </div>
    </div>
</div>