<section class="hero is-dark is-fullwidth">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
            Rondvaarten
        </h1>
        <h2 class="subtitle">
            Zomaar genieten van de omgeving of een speciaal arrangement? Wij leveren rondvaarten op maat. Neem vrijblijvend contact op om uw wensen te bespreken.
        </h2>
      </div>
    </div>
  </section>

<!-- Rondvaarten -->
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-12">
            <div class="tile is-parent">
                <article class="tile is-child notification is-light box padding">
                <p class="title">
                    <mat-icon>directions_boat</mat-icon><strong> Rondvaarten</strong>
                </p>
                <figure class='image contact_maps_location'>
                    <img src='assets/images/rondvaart.jpg' (click)="showImage('assets/images/rondvaart_modal_image.jpg')" style='cursor: pointer;'>>
                    <div class='help is-help'>Klik op de afbeelding om de afbeelding te vergroten.</div>
                </figure>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Informatie</strong>
                </p>
                <p class="content">
                    De-Atol is hét rondvaartbedrijf dat opereert in Zeeuws-Vlaanderen. Wij verzorgen al meer dan een halve eeuw rondvaarten, bedrijfsevenementen, excursies en dagtochten op bijvoorbeeld de Ooster- of Westerschelde.
                </p><br>
                <p class="subtitle">
                    <mat-icon>thumb_up</mat-icon><strong> Wat u kunt verwachten</strong>
                </p>
                <p class="content">
                    U kunt tijdens de vaart van al onze faciliteiten gebruik maken, zoals de bar en keuken en natuurlijk ook het sanitair. U kunt ruim op alle dekken kunt vertoeven. Ook kunt u zittend in de salon gezellig naar buiten kijken onder het genoeg van een hapje of een drankje.                 
                </p>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Praktische informatie</strong>
                </p>
                <p class="content">
                    • We vragen u om minimaal 15 minuten van te voren aanwezig te zijn. Zo voorkomt u dat de boot zonder u vertrekt.<br>
                    • Tijdens de zomermaanden juli en augustus kunt u natuurlijk ook gebruik maken van de veerdienst Perkpolder - Hansweert. 
                </p>
                <app-standaard-tarief></app-standaard-tarief>
                <br><br>
                <div class="buttons is-right button-on-bottom">
                    <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                </div> 
                </article>
            </div>

            <!-- Moonlightsailing -->
            <div class="tile is-parent">
                <article class="tile is-child notification is-light box padding">
                <p class="title">
                    <img src='assets/images/kist_logo.png' style='width: 30px; height: 30px; color: #363636;'><strong> Asverstrooing</strong>
                </p>
                <figure class='image contact_maps_location'>
                    <img src='assets/images/asverstrooiien.jpg'>
                </figure>
                <p class="subtitle">
                    <mat-icon>info</mat-icon><strong> Informatie</strong>
                </p>
                <p class="content">
                    Door oude maritieme tradities in ere te houden, maken wij van elke asverstrooiing een gedenkwaardig en onvergetelijk afscheid. U kunt bij ons terecht voor de verstrooiing of bijzetting van de as van uw dierbare op het water.
                </p>
                <p class="subtitle">
                    <mat-icon>thumb_up</mat-icon><strong> Wat u kunt verwachten</strong>
                </p>
                <p class="content">
                    Buiten uw gezelschap en onze bemanning, zijn er geen andere mensen aan boord. U kunt de gehele plechtigheid door ons laten verzorgen of u huurt alleen de boot. Wij kunnen alles voor u uithanden nemen.
                </p>
                <p class="content">
                    Een schip waar u gastvrij wordt ontvangen, waar een uitgebreide catering mogelijk is en waar u niet snel zeeziek op zult worden. Varen op zee zoals dit bedoeld is. Capaciteit 50 personen. 
                </p>     
                <app-standaard-tarief></app-standaard-tarief>
                <br>
                <div class="buttons is-right button-on-bottom">
                    <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                </div>
                </article>
            </div>
        </div>
    </div>
</div>