.mat-toolbar {
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container {
  background-color: white;
  min-height: 93vh !important;
}

a {
  text-decoration: none;
  font-size: 85%;
  white-space: normal;
}

button {
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.custom-menu {
  background-color: transparent !important;
}

.custom-toolbar {
  height: 60px;
  border-bottom: 1px solid gray!important;
}

.pad {
  margin-left: 15px;
}

.aligned-with-text {
  position: relative;
  bottom: 3px;
  margin-right: 10px;
}

.random-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}