<div>
    <p class="subtitle">
        <mat-icon>euro_symbol</mat-icon><strong> Prijzen</strong>
        </p>
        <table class="table is-fullwidth">
        <tr>
            <th>Enkele reis</th>
            <th>Prijs p.p.</th>
        </tr>
        <tr>
            <td><mat-icon>person</mat-icon> Volwassenen</td>
            <td>€ {{ adultPrice }},-</td>
        </tr>
        <tr>
            <td><mat-icon>child_care</mat-icon> Kinderen (3 t/m 11 jaar)</td>
            <td>€ {{ childPrice }},-</td>
        </tr>
        <tr>
            <td><img src="https://img.icons8.com/material/24/000000/bicycle--v1.png"/> Fietsen</td>
            <td>€ {{ bikePrice }},-</td>
        </tr>
        </table>
</div>