<app-contact-confirm *ngIf="showModal"></app-contact-confirm>
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Reserveren vaartochten
      </h1>
      <h2 class="content">
        Voor het maken van een reservering kunt u onderstaand reserveringsformulier invullen.
      </h2>
    </div>
  </div>
</section>
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-8">
            <div class="tile is-parent">
                <article class="tile is-child notification is-light box">
                    <div class="section">
                        <div class="container">
                            <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">
                                <div class="field">
                                    <label class="label">Uw naam</label>
                                        <div class="control">
                                            <input class="input" type="text" formControlName="name">
                                        </div>
                                    <!-- NAME VALIDATION -->
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="help is-danger">
                                        <div *ngIf="name.errors.required">
                                            Naam is verplicht.
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Telefoonnummer</label>
                                    <div class="control">
                                        <input class="input" type="text" formControlName="phone">
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Aantal personen (ouder dan 11 jaar)</label>
                                    <div class="control">
                                        <input class="input" type="number" formControlName="adults">
                                    </div>
                                    <!-- ADULTS VALIDATION -->
                                    <div *ngIf="adults.invalid && (adults.dirty || adults.touched)" class="help is-danger">
                                        <div *ngIf="adults.errors.required">
                                                U dient aan te geven voor hoeveel volwassenen u wenst te reserveren.
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Aantal kinderen (3 t/m 11 jaar)</label>
                                    <div class="control">
                                        <input class="input" type="number" formControlName="childs">
                                    </div>
                                    <!-- CHILDS VALIDATION -->
                                    <div *ngIf="childs.invalid && (childs.dirty || childs.touched)" class="help is-danger">
                                    <div *ngIf="childs.errors.required">
                                        U dient aan te geven voor hoeveel kinderen u wenst te reserveren.
                                    </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Emailadres</label>
                                    <div class="control">
                                    <input class="input" type="email" formControlName="email">
                                    </div>
                                    <!-- EMAIL VALIDATION -->
                                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="help is-danger">
                                    <div *ngIf="email.errors.required">
                                        Email is verplicht
                                    </div>
                                    <div *ngIf="email.errors.email">
                                        Geef een geldig emailadres op.
                                    </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">1e datum vaartocht: </label>
                                    <input class='input' type='date' formControlName='date1'>
                                    <div *ngIf="date1.invalid && (date1.dirty || date1.touched)" class="help is-danger">
                                        <div *ngIf="date1.errors.required">
                                            U dient minimaal 1 gewenste datum op te geven.
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">2e datum vaartocht (optioneel)</label>
                                    <input class='input' type='date' formControlName='date2'>
                                </div>
                                <div class="field">
                                    <label class="label">3e datum vaartocht (optioneel)</label>
                                    <input class='input' type='date' formControlName='date3'>
                                </div>
                                <div class="field">
                                    <label class="label">Type vaartocht</label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" formControlName="type" value='rondvaart'> Rondvaart
                                        </label>
                                        <label class="radio">
                                            <input type="radio" formControlName="type" value='sportvissen'> Sportvissen
                                        </label>
                                    </div>
                                    <div *ngIf="type.invalid && (type.dirty || type.touched)" class="help is-danger">
                                        <div *ngIf="type.errors.required">
                                            U dient aan te geven voor welk type vaartocht u wenst te reserveren.
                                        </div>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">Uw reactie, vraag of opmerking </label>
                                    <textarea name='msg' rows='5' class='textarea' style='resize: none;' formControlName="msg"></textarea>
                                </div>
                                <div class="container">
                                    <div *ngIf="reservationForm.invalid" class="help is-help">
                                      U dient de verplichte velden in te vullen.
                                    </div>
                                </div>
                                    <br> 
                                <button type="submit" [disabled]="!reservationForm.valid" class='button is-warning'>Verzenden</button>                 
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>