<section class="hero is-dark is-fullwidth">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
            Sportvissen
        </h1>
        <h2 class="subtitle">
            Sportvissen op de Westerschelde.
        </h2>
      </div>
    </div>
</section>
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-8">
            <div class="tile">
                <!-- Rondvaarten -->
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <article class="tile is-child notification is-light box padding">
                            <div class='image'>
                                <img 
                                src='assets/images/sportvissen.jpg' 
                                (click)="showImage('assets/images/sportvissen_banner.jpg')" 
                                style='cursor: pointer;'
                                alt='people fishing with the Atol'>
                                <div class='help is-help contact_maps_location'>Klik op de afbeelding om de afbeelding te vergroten.</div>
                            </div>
                            <p class="subtitle">
                                <img src="../../../assets/logos/important_icon_dotted.png" class="logo-style"><strong> Informatie</strong>
                            </p>
                            <p class="content">
                                De Westerschelde zit vol met verschillende soorten vissen. Velen genieten dan ook regelmatig van een dagje vissen met rondvaartbedrijf De-Atol.
                            </p> 
                            <p class="content">
                                Je maakt in de zomer vooral kans op zeebaars en geep. De Westerschelde op met rondvaartbedrijf De-Atol kom je in dieper water te vissen en maak je kans op wat grotere vis en grotere soorten zoals gul, wijting en platvis.
                            </p>
                            <div class="table-div">
                                <app-sportvissen-tarief></app-sportvissen-tarief>
                            </div>
                            <div class="buttons is-right button-on-bottom">
                                <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                            </div>
                        </article> 
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>