<section class="hero is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
            Sportvissen Vaarseizoen 2020
        </h1>
        <h2 class="content">
            Sportvissen op de Ooster- of Westerschelde.
        </h2>
      </div>
    </div>
</section>
<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-8">
            <div class="tile">
                <!-- Rondvaarten -->
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <article class="tile is-child notification is-light box padding">
                            <figure class='image contact_maps_location'>
                                <img src='assets/images/sportvissen.jpg'>
                            </figure>
                            <p class="subtitle">
                                <mat-icon>info</mat-icon><strong> Informatie</strong>
                            </p>
                            <p class="content">
                                De Ooster- en Westerschelde zitten vol met verschillende soorten vissen. Velen genieten dan ook regelmatig van een dagje vissen met rondvaartbedrijf De-Atol.
                            </p> 
                            <p class="content">
                                Je maakt in de zomer vooral kans op zeebaars en geep. De Ooster- of Westerschelde op met rondvaartbedrijf De-Atol kom je in dieper water te vissen en maak je kans op wat grotere vis en grotere soorten zoals gul, wijting en platvis.
                            </p>
                            <p class="subtitle">
                                <mat-icon>euro_symbol</mat-icon><strong> Prijzen</strong>
                            </p>
                            <table class="table is-fullwidth">
                                <tr>
                                    <th>Mps. ONDERNEMING</th>
                                    <th>Prijs €</th>
                                </tr>
                                <tr>
                                    <td>Per dag ongeacht aantal personen</td>
                                    <td>€ {{ dayPrice }},-</td>
                                </tr>
                                <tr>
                                    <td>Hengel v.a. (per dag)</td>
                                    <td>€ {{ hengelPrice }},-</td>
                                </tr>
                                <tr>
                                    <td>Porties aas v.a.</td>
                                    <td>€ {{ baitPrice }},-</td>
                                </tr>
                            </table>
                            <figure class='image contact_maps_location'>
                                <img src='assets/images/zeeland-gr.jpg'>
                            </figure>
                            <div class="buttons button-on-bottom">
                                <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                            </div>
                        </article> 
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>