.pad {
    margin-right: 5px;
}

.alignTag {
    margin-left: 20px;
}

.hero {
    background-image: url('/assets/images/atol-wallpaper.png') !important;
    background-size: cover;
    background-position: center;
}