<!-- <section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Contact
      </h1>
    </div>
  </div>
</section> -->
<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Kom met ons in contact
      </h1>
      <h2 class="subtitle">
        Wilt u weten wat wij voor u kunnen betekenen? Of wenst u een vrijblijvende offerte? Neem gerust contact met ons op. 
      </h2>
    </div>
  </div>
</section>
<div class="section">
  <div class='container'>
    <div class="columns is-centered">
      <div class="tile is-ancestor is-8">
          <div class="tile is-parent">
            <article class="tile is-child notification is-light">
              <p class="title">Rondvaartbedrijf De Atol</p>
              <p class="subtitle">Voor veel vaar plezier</p>
              <div class="content">
                Factuuradres:<br>
                t.a.v. Nils de Brouwer<br>
                Kerkhoflaan 11<br>
                4537 PM TERNEUZEN<br>
              </div>
              <div class="content">
                  <p>
                    <span class="material-icons pad">call</span>
                    <a href="tel:+31651200389">+31(0)651200389</a> of
                    <a href="tel:+31641218109"> +31(0)641218109</a>
                  </p>
                  <p>
                    <span class="material-icons pad has-text-centered">email</span>
                    <a href="mailto:info@de-atol.nl">info@de-atol.nl</a>
                  <p><span class="material-icons pad">facebook</span>
                    <a href="https://www.facebook.com/RondvaartbedrijfDeAtol" target="_blank">De Atol</a></p>
                  <p>
                    <span class="material-icons">location_on</span>
                    Perkpolder
                    <span class='alignTag'>
                      <span class="tag is-black pad">Google maps</span>
                      <span class="tag is-black">GPS coördinaten</span>
                    </span>
                  </p>
                  <p>
                    <span class="material-icons">location_on</span>
                    Hansweert
                    <span class='alignTag'>
                      <span class="tag is-black pad">Google maps</span>
                      <span class="tag is-black">GPS coördinaten</span>
                    </span>
                  </p>
              </div>
            </article>
          </div>
          <div class="tile is-parent">
            <article class="tile is-child notification is-light">
              <div class="field">
                <label class="label">Uw naam</label>
                <div class="control">
                  <input class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Emailadres</label>
                <div class="control">
                  <input class="input" type="email">
                </div>
              </div>
              <div class="field">
                <label class="label">Telefoonnummer</label>
                <div class="control">
                  <input class="input" type="text">
                </div>
              </div>
              <div class="field">
                <label class="label">Bericht</label>
                <div class="control">
                  <input class="textarea" type="email">
                </div>
              </div>
              <div class="section">
                <button class="button is-warning is-pulled-right">Versturen</button>
              </div>
            </article>
          </div>
      </div>
    </div>
  </div>
</div>