.pad {
    margin-right: 5px;
}

.alignTag {
    margin-left: 20px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
}

.google-rating-banner {
    margin-top: 10px;
    margin-left: -4px;
    height: 50px;
    width: 150px;
}