<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Kom met ons in contact
      </h1>
      <h2 class="subtitle">
        Wilt u weten wat wij voor u kunnen betekenen? Of wenst u een vrijblijvende offerte? Neem gerust contact met ons op via onderstaand webformulier of mail naar <a href="mailto:info@de-atol.nl">info@de-atol.nl</a>. Wij proberen u binnen 24 uur te antwoorden. U mag natuurlijk ook bellen. 
      </h2>
    </div>
  </div>
</section>
<div class='container section'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-8">
        <div class="tile is-parent">
          <article class="tile is-child notification is-light box">
            <p class="title">Rondvaartbedrijf De Atol</p>
            <p class="subtitle">Voor veel vaar plezier</p>
            <p class="content">
              Factuuradres:<br>
              t.a.v. Nils de Brouwer<br>
              Kerkhoflaan 11<br>
              4537 PM TERNEUZEN<br>
            </p>
            <div class="content">
                <p>
                  <mat-icon class='pad'>call</mat-icon>
                  <a href="tel:+31651200389">+31(0)651200389</a> of
                  <a href="tel:+31641218109"> +31(0)641218109</a>
                </p>
                <p>
                  <mat-icon class="pad">email</mat-icon>
                  <a href="mailto:info@de-atol.nl">info@de-atol.nl</a>
                <p><mat-icon class="pad">facebook</mat-icon>
                  <a href="https://www.facebook.com/RondvaartbedrijfDeAtol" target="_blank">De Atol</a></p>
                <p>
            </div>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-light box">
            <div class="field">
              <label class="label">Uw naam</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">Emailadres</label>
              <div class="control">
                <input class="input" type="email">
              </div>
            </div>
            <div class="field">
              <label class="label">Telefoonnummer</label>
              <div class="control">
                <input class="input" type="text">
              </div>
            </div>
            <div class="field">
              <label class="label">Bericht</label>
              <div class="control">
                <input class="textarea" type="email">
              </div>
            </div>
            <div class="container">
              <div>
                <input type='submit' class='button is-warning' value='Verzenden'>
              </div>
            </div>
          </article>
        </div>
    </div>
  </div>
</div>