<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Kom met ons in contact
      </h1>
      <h2 class="content">
        Wilt u weten wat wij voor u kunnen betekenen? Of wenst u een vrijblijvende offerte? Neem gerust contact met ons op via onderstaand webformulier of mail naar <a href="mailto:info@de-atol.nl">info@de-atol.nl</a>. Wij proberen u binnen 24 uur te antwoorden. U mag natuurlijk ook bellen. 
      </h2>
    </div>
  </div>
</section>
<div class='container section'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-8">
      <div class="tile is-parent">
        <article class="tile is-child notification is-light box">
          <p class="title">Rondvaartbedrijf <br>De Atol</p>
          <p class="subtitle">Voor veel vaar plezier</p>
          <p class="content">
            Factuuradres:<br>
            t.a.v. Nils de Brouwer<br>
            Kerkhoflaan 11<br>
            4537 PM TERNEUZEN<br>
          </p>
            <iframe class='contact_maps_location' width="100%" height="auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7138.20456916837!2d4.0270314797524405!3d51.403213941594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDIzJzU0LjQiTiA0wrAwMScwMC4xIkU!5e0!3m2!1snl!2snl!4v1597529230464!5m2!1snl!2snl" frameborder="0" allowfullscreen></iframe>
          <div class="content">
            <p>
              <mat-icon class='pad'>call</mat-icon>
              <a href="tel:+31651200389">+31(0)651200389</a> of
              <a href="tel:+31641218109"> +31(0)641218109</a>
            </p>
            <p>
              <mat-icon class="pad">email</mat-icon>
              <a href="mailto:info@de-atol.nl">info@de-atol.nl</a>
            <p><mat-icon class="pad">facebook</mat-icon>
              <a href="https://www.facebook.com/RondvaartbedrijfDeAtol" target="_blank">De Atol</a></p>
            <p>
          </div>
        </article>
      </div>
      <!-- CONTACT FORM -->
      <div class="tile is-parent">
        <article class="tile is-child notification is-light box">
          <div class="section">
            <div class="container">
              <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                  <div class="field">
                    <label class="label">Uw naam</label>
                    <div class="control">
                      <input class="input" type="text" formControlName="name">
                    </div>
                    <!-- VALIDATION -->
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" style="color:red;">
                      <div *ngIf="name.errors.required">
                        Naam is verplicht
                      </div>
                      <div *ngIf="name.errors.minlength">
                        Naam voldoet niet aan de minimum lengte
                      </div>
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Emailadres</label>
                    <div class="control">
                      <input class="input" type="email" formControlName="email">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Telefoonnummer</label>
                    <div class="control">
                      <input class="input" type="text" formControlName="phone">
                    </div>
                  </div>
                  <div class="field">
                    <label class="label">Bericht</label>
                    <div class="control">
                      <input class="textarea" type="text" formControlName="msg">
                    </div>
                  </div>
                  <div class="container">
                    <button type="submit" [disabled]="!contactForm.valid" mat-button>Verzenden</button>
                  </div>  
              </form>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>