<section class="hero is-dark is-fullwidth">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        Veerdienst
      </h1>
      <h2 class="subtitle">
        Elke zomer heten wij u van harte welkom aan boord van onze veerdienst.
      </h2>
    </div>
  </div>
</section>
<div class='container section'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-12">
      <div class="tile">
        <!-- 	Perkpolder -->
        <div class='tile is-parent'>
          <article class="tile is-child notification is-light box">
            <p class='title'>Perkpolder - Hansweert</p>
              <div class='image'>
                <img 
                src='assets/images/ligplaats_perkpolder.jpg' 
                (click)="showImage('assets/images/perkpolder_modal_image.jpg')" 
                style='cursor: pointer;'
                alt='the location of the Atol in Perkpolder'>
                <div class='help is-help'>Klik op de afbeelding om de afbeelding te vergroten.</div>
              </div><br>
              <app-nadropdown></app-nadropdown>
              <!-- <app-veerdienst-perkpolder></app-veerdienst-perkpolder> -->
              <app-veerdienst-tarief></app-veerdienst-tarief>
              <p class="subtitle padding-to-prices">
                <mat-icon>directions_boat</mat-icon><strong> Opstaplocatie</strong>
              </p>
              <p class="content">
                Perkpolderhaven 1 <br>
                4588 RB Walsoorden <br>
                We zijn te bereiken via de oude N60 (N689) of via Noordstraat en dan rechts de Kalverdijk op.
              </p>
              <p class="subtitle">
                <mat-icon>gps_fixed</mat-icon><strong> GPS</strong>
              </p>
              <p class="subtitle">
                51°23'54.3"N 4°01'00.0"E
              </p>
              <!-- 	Google maps iFrame Perkpolder -->
              <p class="subtitle">
                <mat-icon>place</mat-icon><strong> Kaart</strong>
              </p>
              <iframe class='veerdienst_maps_location' loading='lazy' width="100%" height="auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7138.20456916837!2d4.0270314797524405!3d51.403213941594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDIzJzU0LjQiTiA0wrAwMScwMC4xIkU!5e0!3m2!1snl!2snl!4v1597529230464!5m2!1snl!2snl" frameborder="0" allowfullscreen alt='a frame of a google maps location'></iframe>
            </article>
        </div>
        <!-- 	Hansweert -->
        <div class="tile is-parent">
          <article class="tile is-child notification is-light box">
            <p class='title'>Hansweert - Perkpolder</p>
              <div class='image'>
                <img 
                src='assets/images/ligplaats_hansweert.jpg' 
                (click)="showImage('assets/images/hansweert_modal_image.jpg')" 
                style='cursor: pointer;'
                alt='the location of the Atol in Hansweert'>
                <div class='help is-help'>Klik op de afbeelding om de afbeelding te vergroten.</div>
              </div><br>
              <app-nadropdown></app-nadropdown>
              <!-- <app-veerdienst-hansweert></app-veerdienst-hansweert> -->
              <app-veerdienst-tarief></app-veerdienst-tarief>
              <p class="subtitle padding-to-prices">
                <mat-icon>directions_boat</mat-icon><strong> Opstaplocatie</strong>
              </p>
              <p class="content">
                Voorhaven <br>
                4417 DS Hansweert <br>
                Zuidelijke Voorhaven 500 meter na de sluizen aan de kant van Hansweert. <br><br>
              </p>
              <p class="subtitle">
                <mat-icon>gps_fixed</mat-icon><strong> GPS</strong>
              </p>
              <p class="subtitle">
                °26'53.5"N 4°00'36.8"E
              </p>
              <!-- 	Google maps iFrame Hansweert -->
              <p class="subtitle">
                <mat-icon>place</mat-icon><strong> Kaart</strong>
              </p>
              <iframe class='veerdienst_maps_location' loading='lazy' width="100%" height="auto" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d621.6355750845335!2d4.009672829260125!3d51.44819899872662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI2JzUzLjUiTiA0wrAwMCczNi44IkU!5e0!3m2!1snl!2snl!4v1597530556032!5m2!1snl!2snl" frameborder="0" allowfullscreen alt='a frame of a google maps location'></iframe>
            </article>    
        </div>
      </div>
    </div>
  </div>
</div>