<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Veerdienst 2020
      </h1>
      <h2 class="content">
        Zoals elke zomer heten wij u van harte welkom aan boord. U kunt opstappen te Perkpolder en Hansweert.
        Tijdens de overtocht is de bar open voor bijvoorbeeld koffie met gebak, frisdrank, snacks of andere consumpties. Ook hebben wij voor de liefhebber ijs aan boord.
      </h2>
    </div>
  </div>
</section>
<div class='container'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-4">
      <div class="tile is-parent">
        <article class="tile is-child notification is-white">
        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
          <tr>
            <th>Enkele reis</th>
            <th>Prijs p.p.</th>
          </tr>
          <tr>
            <td><mat-icon>person</mat-icon> Volwassenen</td>
            <td>€ {{ adultPrice }},-</td>
          </tr>
          <tr>
            <td><mat-icon>child_care</mat-icon> Kinderen (3 t/m 11 jaar)</td>
            <td>€ {{ childPrice }},-</td>
          </tr>
          <tr>
            <td><img src="https://img.icons8.com/material/24/000000/bicycle--v1.png"/> Fietsen</td>
            <td>€ {{ bikePrice }},-</td>
          </tr>
        </table>
      </article>
      </div>
    </div>  
  </div>
</div>  

<div class='container section'>
  <div class="columns is-centered">
    <div class="tile is-ancestor is-12">
      <div class="tile">
        <!-- 	Perkpolder -->
        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <p class='title'>Perkpolder - Hansweert</p>
          </div>
          <article class="tile is-child notification is-light box">
            <div class='image'>
              <img src='assets/images/ligplaats_perkpolder.jpg'>
            </div><br>
            <h1 class="subtitle">
              <mat-icon>access_time</mat-icon><strong> Vertrektijden</strong>
            </h1>
            <p class='content has-text-danger'>Wij verzoeken u 15 minuten voor de afvaart aanwezig te zijn.</p>
            <table class='table is-fullwidth'>
              <tr>
                <th>Vaardagen</th>
                <th><mat-icon>access_time</mat-icon></th>
                <th><mat-icon>access_time</mat-icon></th>
                <th><mat-icon>access_time</mat-icon></th>
              </tr>
              <tr>
                <td>Zondag</td>
                <td>09:00</td>
                <td>11:00</td>
                <td>16:15</td>
              </tr>
              <tr>
                <td>Maandag</td>
                <td>09:00</td>
                <td>11:00</td>
                <td>16:15</td>
              </tr>
              <tr>
                <td>Woensdag</td>
                <td>09:00</td>
                <td>11:00</td>
                <td>16:15</td>
              </tr>     
              <tr>
                <td>Vrijdag</td>
                <td>09:00</td>
                <td>11:00</td>
                <td>16:15</td>
              </tr>                                                             
            </table>
            <p class="subtitle">
              <mat-icon>directions_boat</mat-icon><strong> Opstaplocatie</strong>
            </p>
            <p class="content">
              Perkpolderhaven 1 <br>
              4588 RB Walsoorden <br>
              We zijn te bereiken via de oude N60 (N689) of via Noordstraat en dan rechts de Kalverdijk op.
            </p>
            <p class="subtitle">
              <mat-icon>gps_fixed</mat-icon><strong> GPS</strong>
            </p>
            <p class="subtitle">
              51°23'54.3"N 4°01'00.0"E
            </p>
            <!-- 	Google maps iFrame Perkpolder -->
            <p class="subtitle">
              <mat-icon>place</mat-icon><strong> Kaart</strong>
            </p>
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="1280" height="720" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7138.20456916837!2d4.0270314797524405!3d51.403213941594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDIzJzU0LjQiTiA0wrAwMScwMC4xIkU!5e0!3m2!1snl!2snl!4v1597529230464!5m2!1snl!2snl" frameborder="0" allowfullscreen></iframe>
                </figure>
              </div>                        
            </div>
          </article>    
        </div>
        <!-- 	Hansweert -->
        <div class="tile is-parent is-vertical">
          <div class="tile is-child">
            <p class='title'>Hansweert - Perkpolder</p>
          </div>
          <article class="tile is-child notification is-light box">
            <div class='image'>
              <img src='assets/images/ligplaats_hansweert.jpg'>
            </div><br>
            <h1 class="subtitle">
              <mat-icon>access_time</mat-icon><strong> Vertrektijden</strong>
            </h1>
            <p class='content has-text-danger'>Wij verzoeken u 15 minuten voor de afvaart aanwezig te zijn.</p>
            <table class='table is-fullwidth'>
              <tr>
                <th>Vaardagen</th>
                <th><mat-icon>access_time</mat-icon></th>
                <th><mat-icon>access_time</mat-icon></th>
                <th><mat-icon>access_time</mat-icon></th>
              </tr>
              <tr>
                <td>Zondag</td>
                <td>10:00</td>
                <td>12:00</td>
                <td>17:00</td>
              </tr>
              <tr>
                <td>Maandag</td>
                <td>10:00</td>
                <td>12:00</td>
                <td>17:00</td>
              </tr>
              <tr>
                <td>Woensdag</td>
                <td>10:00</td>
                <td>12:00</td>
                <td>17:00</td>
              </tr>     
              <tr>
                <td>Vrijdag</td>
                <td>10:00</td>
                <td>12:00</td>
                <td>17:00</td>
              </tr>                                                             
            </table>
            <p class="subtitle">
              <mat-icon>directions_boat</mat-icon><strong> Opstaplocatie</strong>
            </p>
            <p class="content">
              Voorhaven <br>
              4417 DS Hansweert <br>
              Zuidelijke Voorhaven 500 meter na de sluizen aan de kant van Hansweert. <br><br>
            </p>
            <p class="subtitle">
              <mat-icon>gps_fixed</mat-icon><strong> GPS</strong>
            </p>
            <p class="subtitle">
              °26'53.5"N 4°00'36.8"E
            </p>
            <!-- 	Google maps iFrame Hansweert -->
            <p class="subtitle">
              <mat-icon>place</mat-icon><strong> Kaart</strong>
            </p>
            <div class="card">
              <div class="card-image">
                <figure class="image is-16by9">
                  <iframe class="has-ratio" width="1280" height="720" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d621.6355750845335!2d4.009672829260125!3d51.44819899872662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDI2JzUzLjUiTiA0wrAwMCczNi44IkU!5e0!3m2!1snl!2snl!4v1597530556032!5m2!1snl!2snl" frameborder="0" allowfullscreen></iframe>
                </figure>
              </div>                        
            </div>
          </article>    
        </div>
      </div>
    </div>
  </div>
</div>