<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Ligplaatsen vaarseizoen 2020
        </h1>
        <h2 class="subtitle">
          Zoals elke zomer heten wij u van harte welkom aan boord. U kunt opstappen te Perkpolder en Hansweert.
        </h2>
      </div>
    </div>
  </section>
  <div class="section">
    <div class='container'>
      <div class="columns is-centered">
        <div class="tile is-ancestor is-8">
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary">
                <p class="title">Perkpolder</p>
                <p class="subtitle"></p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-warning">
                <p class="title">Hansweert</p>
                <p class="subtitle"></p>
              </article>
            </div>
        </div>
      </div>
    </div>
  </div>
