<h1 class="subtitle">
  <mat-icon>access_time</mat-icon><strong> Vertrektijden</strong>
</h1>
<p class='content has-text-danger'>Wij verzoeken u 15 minuten voor de afvaart aanwezig te zijn.</p>
<div class="dropped-table-padding">
    <div class="table-container">
      <table mat-table [dataSource]="scheduleSource" class='table is-striped is-hoverable'>
    
        <!-- Type Column -->
        <ng-container matColumnDef="text">
          <th mat-header-cell *matHeaderCellDef> Vaardagen </th>
          <td mat-cell *matCellDef="let element"> {{element.text}} </td>
        </ng-container>
    
        <!-- Price Column -->
        <ng-container matColumnDef="time1">
          <th mat-header-cell *matHeaderCellDef> <img src="../../../assets/logos/boat_leaving_icon.png" class="logo-style-table"> </th>
          <td mat-cell *matCellDef="let element"> {{element.time1}} </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="time2">
            <th mat-header-cell *matHeaderCellDef> <img src="../../../assets/logos/boat_leaving_icon.png" class="logo-style-table"> </th>
            <td mat-cell *matCellDef="let element"> {{element.time2}} </td>
            </ng-container>
        
            <!-- Price Column -->
            <ng-container matColumnDef="time3">
            <th mat-header-cell *matHeaderCellDef> <img src="../../../assets/logos/boat_leaving_icon.png" class="logo-style-table"> </th>
            <td mat-cell *matCellDef="let element"> {{element.time3}} </td>
            </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>  
