<section class="hero is-dark is-fullwidth">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
            Mijn naam is Nils de Brouwer
        </h1>
        <h2 class="subtitle">
            Ik ben schipper van De Onderneming en eigenaar van rondvaartbedrijf De Atol.
        </h2>
      </div>
    </div>
  </section>
<div class='container section'>
    <figure class="image container is-128x128">
        <img class="is-rounded top-pad" src="assets/images/schipper.jpg">
    </figure> 
</div>
<div class='container section image-margin has-text-white'>
    <section class='column has-text-centered is-size-5'>
        <p class='content has-text-centered'>
            Mijn comfortabele boot is verwarmd en uitgerust met toiletvoorziening, bar en geluidsinstallatie. Daarnaast heeft het schip een groot dek, waar u tijdens zonnige dagen heerlijk kunt vertoeven. 
        </p>
        <p class='content has-text-centered'>
            Het personeel van De Atol bestaat uit vrijwilligers, een team gemotiveerde dames die zich inzetten om De Onderneming in de vaart te kunnen houden.
        </p>
        <p class='content has-text-centered'>
            Tijdens de vaarten kunt u een drankje nemen en kan ik u het een en ander vertellen over hetgeen u onderweg te zien krijgt.
        </p>
        <p class='content has-text-centered'>
            Ik heet u harte welkom aan boord van de Onderneming.
        </p> 
    </section>
  </div>
