<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor is-8">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <div class="tile is-child">
                        <article class="tile is-child notification is-white padding">
                            <div class="container has-text-centered">

                                <p class="title">Interne fout 500</p>
                                <h1 class="title">(⊙.☉)7</h1>
                                <h2 class="subtitle">
                                    Het ligt niet aan jou, het ligt aan ons.
                                </h2>
                                <p>
                                    <button class="button is-warning" routerLink=''>Klik hier om terug te keren</button>
                                </p>
                            </div>
                        </article> 
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
