.button-on-bottom {
    position: absolute;
    bottom: 25px;
}

.padding {
    padding: 20px 20px 40px 20px;
}

.table-div {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 40px;
}

.padding-to-prices {
    padding-bottom: 32px!important;
}