<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">
          Feesten en partijen
        </h1>
        <h2 class="content">
            Voor bijvoorbeeld partijen, feesten, jubilea, personeelsuitjes en familiedagen.
            Of zomaar een dagje rondvaren langs de platen, kijkend naar zeehonden of naar de grote zeeschepen die onze wateren kruizen. 
        </h2>
      </div>
    </div>
</section>
<div class='container'>
<div class="tile is-ancestor">
    <div class="tile">
        <!-- Rondvaarten -->
    <div class="tile is-parent is-vertical">
        <div class="tile is-child">
            <article class="tile is-child notification is-light box">
            </article> 
        </div>   
    </div>
    <!-- 	Moonlight sailing -->
    <div class="tile is-parent is-vertical">
        <div class="tile is-child">
            <article class="tile is-child notification is-light box">           
            </article> 
        </div>   
    </div>
</div>