<section class="hero is-dark is-fullwidth">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
            Feesten en partijen
        </h1>
        <h2 class="subtitle">
            Voor bijvoorbeeld partijen, feesten, jubilea, personeelsuitjes en familiedagen.
        </h2>
      </div>
    </div>
  </section>

<!-- carousel 
    for options visit:
    https://www.npmjs.com/package/@ngmodule/material-carousel
-->
<!-- <div class='hero-body'>
    <mat-carousel
      timings="250ms ease-in"
      [autoplay]="true"
      interval="5000"
      color="warn"
      maxWidth="auto"
      proportion="50"
      slides="5"
      [loop]="true"
      [hideArrows]="false"
      [hideIndicators]="false"
      [useKeyboard]="true"
      [useMouseWheel]="false"
      orientation="ltr">
    
      <mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slides; let i = index"
        [image]="slide.image"
        overlayColor="#00000040"
        [hideOverlay]="false">
    
        </mat-carousel-slide>
    </mat-carousel>
</div> -->

<div class='container section'>
    <div class="columns is-centered">
        <div class="tile is-ancestor">
            <div class="tile">
                <!-- Scheidingsfeest -->
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-light box padding">
                    <p class="title">
                        <mat-icon>favorite_border</mat-icon><strong> Scheidingsfeest</strong>
                    </p>
                    <figure class='image contact_maps_location'>
                        <img src='assets/images/scheidingsfeestje.jpg'>
                    </figure>
                    <p class="subtitle">
                        <mat-icon>info</mat-icon><strong> Informatie</strong>
                    </p>
                    <p class="content">
                        Een feestje organiseren omdat de scheiding erdoor is?
                        Je had er wellicht nog niet van gehoord, maar het bestaat echt: ‘een scheidingsfeestje’!
                    </p>
                    <p class="content">
                        Het werkt therapeutisch. Na een moeilijke periode zeg je hiermee misschien wel ‘zo dit is voorbij en nu kijken we weer vooruit’. Het kan soms niet gek genoeg. Rituelen en onderdelen van een scheidingsfeest kunnen zijn: het verbranden van de trouwpak- of jurk, het begraven van de trouwring en het eten van een echte scheidingstaart.
                    </p>
                    <p class="content">
                        Laat het vaste land achterwege voor een intieme ervaring met rondvaartbedrijf De Atol. Boek nu om een ​​plek te reserveren!
                    </p>
                    <p class='content'>
                        Graag maken wij een afspraak zodat we u een tocht op maat aan kunnen bieden. Wij kunnen zorg dragen voor o.a. catering en entertainment. Laat u verrassen door de creatieve invulling van rondvaartbedrijf De-Atol!
                    </p> 
                    <app-standaard-tarief></app-standaard-tarief>
                    <br>
                    <div class="buttons is-right button-on-bottom">
                        <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                    </div>
                    </article>
                </div>  
            </div>
            <!-- 	Moonlight sailing -->
            <div class="tile is-parent is-vertical">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-light box padding">
                    <p class="title">
                        <mat-icon>nights_stay</mat-icon><strong> Moonlightsailing</strong>
                    </p>
                    <figure class='image contact_maps_location'>
                        <img src='assets/images/moonlight_sailing.jpg'>
                    </figure>
                    <p class="subtitle">
                        <mat-icon>info</mat-icon><strong> Informatie</strong>
                    </p>
                    <p class="content">
                        Boek een exclusieve tocht op onze comfortabele boot onder het maanlicht. Geniet van de koele zeebries, de sterren, de stadslichten en de maan terwijl je op het water drijft.
                    </p>
                    <p class="subtitle">
                        <mat-icon>thumb_up</mat-icon><strong> Wat u kunt verwachten</strong>
                    </p>
                    <p class="content">
                        In de zomeravonden in de maanden Juni, Juli, Augustus en September rond de dagen waarop het volle maan wordt, is rondvaartbedrijf De-Atol voor u geopend om een unieke ervaring mee te maken onder de maan.
                    </p>
                    <p class="content">
                        Onze tocht van 4 uur is dé perfecte manier om 's nachts elke gelegenheid te vieren. Ontspan op het dek en geniet van de weerspiegeling van de lichtgevende skyline van Antwerpen met de maan achter de stad. 
                    </p>
                    <p class="content">
                        Laat het vaste land achterwege voor een intieme ervaring met rondvaartbedrijf De Atol. Boek nu om een ​​plek te reserveren!
                    </p>
                    <p class='content'>
                        Graag maken wij een afspraak zodat we u een tocht op maat aan kunnen bieden. Wij kunnen zorg dragen voor o.a. catering en entertainment. Laat u verrassen door de creatieve invulling van rondvaartbedrijf De-Atol!
                    </p>    
                    <app-standaard-tarief></app-standaard-tarief>   
                    <p class="subtitle">
                        <mat-icon style='margin-top:10px;'>info</mat-icon><strong> Praktische informatie</strong>
                    </p>
                    <p class="content">
                        Afvaart 20.00 uur - Thuiskomst 24.00 uur
                    </p> 
                    <br>
                    <div class="buttons is-right button-on-bottom">
                        <input type='submit' class="button is-warning" value='Reserveren 'routerLink='/reserveren'>
                        <!-- <input type='submit' class="button is-warning button-on-bottom" value='Meer info'routerLink='/contact'> -->
                    </div>
                    </article>
                </div> 
            </div>
        </div>
    </div>