@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.contact_maps_location {
    padding-bottom: 20px;
}

.padding-to-prices {
    padding-top: 20px;
}

.padding {
    padding: 20px 40px 40px 40px;
}

.logo-style {
    width: 40px;
    height: 40px;
    top: 5px;
    position: relative;
}

.logo-style-thumbnail {
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    position: relative;
}

.mat-header-cell {
    flex-direction: flex;
    justify-content: center;
    vertical-align: middle!important;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
    vertical-align: middle;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 24px;
    vertical-align: middle;
}