<section class="hero is-light is-fullheight"> 
    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">¯\_(ツ)_/¯</p>
            <h1 class="title">
            404
            </h1>
            <h2 class="subtitle">
                De pagina die u zoekt bestaat helaas niet.
            </h2>
            <p>
                <button class="button is-warning" routerLink=''>Klik hier om terug te keren</button>
            </p>
        </div>
    </div>
</section>