<div class="container section">
    <div *ngIf='msgIsShown' class="notification is-danger is-light">
        <button class="delete" (click)='toggleCorona()'></button>
        <p class='subtitle'>
            Corona update
        </p>
        <p class="content">
            Let op! Mondkapje verplicht. Reserveren voor de veerdienst is niet nodig.
        </p>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/veerdienst_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class='title'>Veerdienst</p>
                    <p class="subtitle">Veerdienst van en naar Hansweert en Perkpolder.</p>
                    <nav class='buttons is-right'>
                        <a class="button is-warning wide" disabled>Reserveren niet nodig!</a>
                    </nav>
                    <nav class='buttons is-right'>
                        <a class="button is-warning wide" routerLink='/diensten/veerdienst'>Meer info</a>
                    </nav>
                </div>
            </div>
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/zeehond_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">Zeehondensafari</p>
                    <p class="subtitle">Ga mee op avontuur.</p>
                    <br>
                    <nav class="buttons is-right">
                        <button class="button is-warning wide" (click)="openZeehondenDialog()">Reserveren</button>
                    </nav>
                    <nav class="buttons is-right">                        
                        <button class="button is-warning wide" routerLink='/diensten/safari'>Meer info</button>
                    </nav>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/rondvaart_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">Rondvaart</p>
                    <p class="subtitle">Over bijvoorbeeld de Ooster - of Westerschelde.</p>
                    <nav class="buttons is-right">
                        <button class="button is-warning wide" wide>Reserveren</button>
                    </nav>
                    <nav class="buttons is-right">

                        <button class="button is-warning wide" routerLink='/diensten/rondvaart'>Meer info</button>
                    </nav>
                </div>
            </div>
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/sportvissen_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">Sportvissen</p>
                    <p class="subtitle">Sportvissen op de Ooster- of Westerschelde.</p>
                    <nav class="buttons is-right">
                        <button class="button is-warning wide">Reserveren</button>
                    </nav>
                    <nav class="buttons is-right">                        
                        <button class="button is-warning wide" routerLink='/diensten/sportvissen'>Meer info</button>
                    </nav>
                </div>
            </div>
        </div>
        <div class="tile is-parent is-vertical">
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/feesten_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">Feesten en partijen</p>
                    <p class="subtitle">Partyboot max. 75 personen.</p><br>
                    <nav class='buttons is-right'>
                        <button class="button is-warning wide">Reserveren</button>
                    </nav>
                    <nav class='buttons is-right'>
                        <button class="button is-warning wide" routerLink='/diensten/feesten'>Meer info</button>
                    </nav>
                </div>
            </div>
            <div class="card tile is-child">
                <div class="card-image">
                    <figure class="image is 2by1">
                        <img src='assets/images/contact_banner.jpg' alt='seal image'>
                    </figure>
                </div>
                <div class="card-content">
                    <p class="title">Contact</p>
                    <p class="subtitle">Hoe kom ik in contact met Rondvaartbedrijf de-Atol?</p>
                    <nav class="buttons is-right">
                        <button class="button is-warning wide" routerLink='/contact'>Meer info</button>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
