<div class="container section">
    <h1 class="title has-text-centered has-text-light">Welkom op de geheel vernieuwde website van Rondvaartbedrijf De-Atol</h1>
    <div *ngIf='msgIsShown' class="notification is-danger is-light simple">
        <button class="delete" (click)='toggleCorona()'></button>
        <p class='subtitle'>
            <mat-icon style='vertical-align: bottom;'>error</mat-icon><strong style="color: #CC0F35;"> Corona update </strong>
        </p>
        <p class="content">
            Let op! Mondkapje verplicht. Aan boord zijn mondkapjes verkrijgbaar voor € 1,- per stuk. Reserveren voor de veerdienst is niet nodig.
        </p>
    </div>
</div>

<!-- FIRST ROW -->
<div class="container container-padding">
    <div class="columns">
        <div class="column column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/zeehond_banner.jpg' alt='some seals on the seabed'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class="title">Zeehondensafari</h2>
                    <p class="subtitle">Lees hier alles over onze zeehonden safari.</p>
                </div>
                <nav class='buttons is-right'>
                    <button class="button is-warning wide button-shadow" (click)="openZeehondenDialog()">Reserveren</button>
                </nav>
                <nav class='buttons is-right'>
                    <button class="button is-warning wide button-shadow" routerLink='/diensten/safari'>Meer info</button>
                </nav>
            </div>
        </div>
        <div class="column column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/veerdienst_banner.jpg' alt='veerdienst image'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class='title'>Veerdienst</h2>
                    <p class="subtitle">Dit jaar zijn er geen veerdiensten meer.</p>
                </div>
                <nav class='buttons is-right'>
                    <a class="button is-warning wide button-shadow" disabled>Reserveren niet nodig!</a>
                </nav>
                <nav class='buttons is-right'>
                    <a class="button is-warning wide button-shadow" routerLink='/diensten/veerdienst'>Meer info</a>
                </nav>
            </div>
        </div>
        <div class="column column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/rondvaart_banner.jpg' alt='sailing with the Atol'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class="title">Rondvaart</h2>
                    <p class="subtitle">Lees hier alles over een rondvaart met de-Atol.</p>
                </div>
                <nav class="buttons is-right">
                    <button class="button is-warning wide button-shadow" routerLink='/reserveren' wide>Reserveren</button>
                </nav>
                <nav class="buttons is-right">
                    <button class="button is-warning wide button-shadow" routerLink='/diensten/rondvaart'>Meer info</button>
                </nav>
            </div>
        </div>
    </div>
        <!-- SECOND ROW -->
    <div class="columns" style="margin-top:10px">
        <div class="column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/sportvissen_banner.jpg' alt='some people fishing with the Atol'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class="title">Sportvissen</h2>
                    <p class="subtitle">Sportvissen op de Ooster- of Westerschelde.</p>
                </div>
                <nav class="buttons is-right">
                    <button class="button is-warning wide button-shadow" routerLink='/reserveren'>Reserveren</button>
                </nav>
                <nav class="buttons is-right">                        
                    <button class="button is-warning wide button-shadow" routerLink='/diensten/sportvissen'>Meer info</button>
                </nav>
            </div>
        </div>
        <div class="column column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/feesten_banner.jpg' alt='people partying with the Atol'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class="title">Feesten en partijen</h2>
                    <p class="subtitle">Partyboot max. 75 personen.</p>
                </div>
                <nav class='buttons is-right'>
                    <button class="button is-warning wide button-shadow" routerLink='/reserveren'>Reserveren</button>
                </nav>
                <nav class='buttons is-right'>
                    <button class="button is-warning wide button-shadow" routerLink='/diensten/feesten'>Meer info</button>
                </nav>
            </div>
        </div>
        <div class="column column flex-column shadow">
            <div class="card-image">
                <figure class="image is 2by1">
                    <img src='assets/images/contact_banner.jpg' alt='the owner on a picture'>
                </figure>
            </div>
            <div class="card-content cc-flex">
                <div class="wrapper-flex mb-5">
                    <h2 class="title">Contact</h2>
                    <p class="subtitle">Hoe kom ik in contact met Rondvaartbedrijf de-Atol?</p>
                </div>
                <nav class="buttons is-right">
                    <button class="button is-warning wide button-shadow" routerLink='/contact'>Meer info</button>
                </nav>
            </div>
        </div>
    </div>
</div>
