.wide {
    min-width: 200px !important;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.cc-flex {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper-flex {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.shadow {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}

@media only screen and (max-width: 320px) {
    h2 {
        font-size: 26px;
    }
    p {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1024px) {
    h2 {
        font-size: 26px;
    }
    p {
        font-size: 18px;
    }
}

.simple {
    height: 100%; 
    width: 100%; 
    vertical-align: middle; 
}

.container-padding {
    padding: 0px 24px 24px 24px;
}