<section class='hero'>
    <div class='hero-body'>
        <div class="container has-text-centered">
            <h1 class="title">
                Home
            </h1>
        </div>
    </div>
</section>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile">
            <article class="tile is-child notification is-primary">
                <p class="title">Veerdienst</p>
                <p class="subtitle">Veerdienst van en naar Hansweert en Perkpolder.</p>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile">
            <article class="tile is-child notification is-primary">
                <p class="title">Zeehondensafari</p>
                <p class="subtitle">Ga mee op avontuur.</p>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile">
            <article class="tile is-child notification is-primary">
                <p class="title">Rondvaart</p>
                <p class="subtitle">Veerdienst van en naar Hansweert.</p>
            </article>
        </div>
    </div>
</div>  
<div class="tile is-ancestor">
    <div class="tile is-parent">
        <div class="tile">
            <article class="tile is-child notification is-primary">
                <p class="title">Feesten en partijen</p>
                <p class="subtitle">Partyboot max. 75 personen.</p>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile">
            <article class="tile is-child notification is-primary">
                <p class="title">Sportvissen</p>
                <p class="subtitle">Sportvissen op de Ooster- of Westerschelde.</p>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <div class="tile">
        <article class="tile is-child notification is-primary">
            <p class="title">Ligplaats</p>
            <p class="subtitle">Waar moet ik opstappen?</p>
            </article>
    </div>
</div> 